modules = ["rust"]

[nix]
channel = "stable-25_05"
packages = ["openssl", "pkg-config"]

[[ports]]
localPort = 9733
externalPort = 80

[[ports]]
localPort = 9735
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Node"
mode = "sequential"
author = 17531197

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run workshop"

[[workflows.workflow]]
name = "Run Tests"
mode = "sequential"
author = 17531197

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo test"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Rust Build"

[[workflows.workflow]]
name = "Rust Build"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo check"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
