modules = ["rust"]

[nix]
channel = "stable-25_05"
packages = ["openssl", "pkg-config"]

[[ports]]
localPort = 9733
externalPort = 80

[[ports]]
localPort = 9735
externalPort = 3000

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Start Node"
mode = "sequential"
author = 17531197

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run workshop"

[[workflows.workflow]]
name = "Run Tests"
mode = "sequential"
author = 17531197

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo test"

[agent]
expertMode = true
